* {
    box-sizing:border-box;
}

body {
    background-color: #cccccc;
    font-family: sans-serif;
}

header {
    background-color: #120323;
}

.header-container {
text-align: center;
width: 100%;
}

nav {
background-color:#d9043d;
padding-top: 1rem;
padding-bottom: 1rem;
width: 100%;
}

nav ul li {
display: flex;
display: inline-grid;
}

nav ul li a {
    color: white;
    border: 2 px solid #97bf04;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

h1{
    display:flex;
    justify-content:center;
    color:#97bf04;
}

h2 {
display:flex;
}

footer {
background-color:#d9043d;
padding: 3 rem;
width:100%;
}

#gallery-container {
    display: grid;
    grid-template-columns: 1;
}

figure {
padding: 1rem;
background-color: #fff;
}

figure img{
display:flex;
max-width: 650px;
width: 100%;
border-bottom: 10px solid #97bf04;
justify-content: center;
margin: 1rem;

}

figcaption {
padding: 1 rem;

}
/*media queries*/


@media screen and (max-width: 768px) {
    #gallery-container {
        display: grid;
        grid-template-columns: 1;
    }
}

@media screen and (min-width: 769px) {
    #gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #gallery-container figure:nth-child(11) {
        grid-column: span 2;
      }
}

@media screen and (min-width: 1001px) {
    #gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
