* {
    box-sizing:border-box;
}

body {
    background-color: #cccccc;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #120323;
    width:100%;
    margin:0;
}

.header-container {
text-align: center;
width: 100%;
margin:0;
}

.header-container img {
    margin-top: 1rem;
}

nav {
background-color:#120323;
padding-top: 1rem;
padding-bottom: 1rem;
width: 100%;
margin: 0;
}

nav ul li {
display: flex;
display: column;
justify-content: center;
padding:1rem;
margin-top: 0.5rem;
width:95%;
background-color:#d9043d;
}

nav ul li a {
    color: white;
    border: 2 px solid #97bf04;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

h1{
    display:flex;
    justify-content:center;
    color:#97bf04;
}

h2 {
text-align: center;
}

footer {
background-color:#d9043d;
padding-top: 1rem;
padding-bottom: 1rem;
width:100%;
margin: 0;
text-align: center;
color:white;
}

#gallery-container {
    display: grid;
    grid-template-columns: 1;
}

figure {
padding: 1rem;
background-color: #fff;
}

figure img{
display:flex;
max-width: 650px;
width: 100%;
border-bottom: 10px solid #97bf04;
justify-content: center;


}

figcaption {
padding: 1 rem;

}
/*media queries*/


@media screen and (max-width: 768px) {
    #gallery-container {
        display: grid;
        grid-template-columns: 1;
    }
}

@media screen and (min-width: 769px) {
    #gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #gallery-container figure:nth-child(11) {
        grid-column: span 2;
      }

      nav ul li {
        display: flex;
        display: inline;
        justify-content: center;
        padding:0.5rem;
        background-color:#d9043d;
        }

        nav {
            background-color:#d9043d;
            width: 100%;
            margin: 0;
            }
}

@media screen and (min-width: 1001px) {
    #gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav ul li {
        display: flex;
        display: inline;
        justify-content: center;
        padding:0.5rem;
        background-color:#d9043d;
        }

        nav {
            background-color:#d9043d;
            width: 100%;
            margin: 0;
            }
}
